<div class="mat-elevation-z8">
    <h2>Add User</h2>
  
    <form (ngSubmit)="addUser()" #addUserForm="ngForm" class="vertical-form">
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput type="text" id="name" name="name" [(ngModel)]="newUser.name" required />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Occupation:</mat-label>
        <input matInput type="text" id="occupation" name="occupation" [(ngModel)]="newUser.occupation" required />
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="newUser.email" required />
      </mat-form-field>
  
      <div class="button-container">
        <button mat-raised-button class="mat-primary" type="submit">Add User</button>
        <button mat-raised-button class="mat-warn" type="button" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
  