<div class="mat-elevation-z8">
  <div *ngIf="user">
    <h2>User Details</h2>
    <p><span>Name:</span> {{ user.name }}</p>
    <p><span>Occupation:</span> {{ user.occupation }}</p>
    <p><span>Email:</span> {{ user.email }}</p>
    <p><span>Bio:</span> {{ user.bio }}</p>
  </div>

  <div *ngIf="!user">
    <p>User not found.</p>
  </div>
  <div class="button-container">
  <button mat-raised-button class="centered" (click)="goBackToList()">Back to Users List</button>
  </div>
</div>
