h2 {
    text-align: center;
}

p {
    margin-left: 5%;
    margin-right: 5%;
}

span {
    font-weight: bold;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}