<div class="mat-elevation-z8">
  <h2>Delete User</h2>

  <div *ngIf="user">
    <p>Are you sure you want to delete the user {{ user!.name }}?</p>

    <div class="button-container">
    <button mat-raised-button class="mat-warn" (click)="deleteUser()">Delete</button>
    <button mat-raised-button (click)="goBack()">Cancel</button>
    </div>
  </div>

  <div *ngIf="!user">
    <p>User not found.</p>
  </div>
</div>
