h2 {
    text-align: center;
}

.vertical-form mat-form-field {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}