<div class="mat-elevation-z8">
  <h2>Update User</h2>

  <div *ngIf="user">
    <form (ngSubmit)="updateUserInfo(user)" #userForm="ngForm" class="vertical-form">
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput type="text" id="name" name="name" [(ngModel)]="user.name" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Occupation:</mat-label>
            <input matInput type="text" id="occupation" name="occupation" [(ngModel)]="user.occupation" required />
      </mat-form-field>
      
      <mat-form-field>
      <mat-label>Email:</mat-label>
      <input matInput type="email" id="email" name="email" [(ngModel)]="user.email" required />
      </mat-form-field>
      <div class="button-container">
      <button mat-raised-button class="mat-accent" type="submit">Submit</button>
      <button mat-raised-button class="mat-warn" type="button" (click)="goBack()">Cancel</button>
      </div>
    </form>

  </div>

  <div *ngIf="!user">
    <p>User not found.</p>
  </div>
</div>