html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

header h1 {
    color: blue;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

header {
    background-color: #eee;
}